.MovieCardWrapper {
  box-sizing: border-box;
  display: inline-block;
  padding: 8px;
  width: 20%;
  cursor: pointer;
  @media screen and (max-width: 1200px) {
    width: 25%;
  }
  @media screen and (max-width: 900px) {
    width: 32%;
  }
}

.PosterBox {
  box-sizing: border-box;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  border: solid rgb(230, 230, 230) 1px;
}
.PosterImage {
  box-sizing: border-box;
  display: block;
  width: 100%;
}
.MovieInfoWrapper {
  box-sizing: border-box;
  width: 100%;
  padding-top: 5px;
  > div {
    padding: 5px 0 5px 0;
  }
}
.MovieInfoTitle {
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
}
.MovieInfoSubWrapper {
  box-sizing: border-box;
  font-size: 15px;
}
.MovieInfoRating {
  box-sizing: border-box;
  font-size: 15px;
  padding-top: 3px;
  color: rgb(67, 68, 82);
}

.SequenceNumberBox {
  box-sizing: border-box;
  position: absolute;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  left: 10px;
  top: 10px;
  padding-top: 4px;
  width: 27px;
  height: 27px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
