.carouselComp {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 1vw;
  position: relative;
}

.CategoryTitle {
  display: flex;
  font-size: 23px;
  font-weight: bold;
  width: 100%;
  margin: 100px 0 20px 0;
}

.topSlider {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.topSlider::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.bottomSlider {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-bottom: 2vw;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.bottomSlider::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.posterArea {
  display: flex;
  flex-direction: column;
  width: 13.4rem;
  margin-right: 1.7vw;
  cursor: pointer;
}

.posterImg {
  aspect-ratio: 1/1.45;
  object-fit: cover;
  object-position: center;
  width: 13.4rem;
  border-radius: 3px;
  border: 0.5px solid rgb(204, 204, 204);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 13.4rem;
  padding-top: 0.2vw;
}

.movieName {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  padding: 0.7vw 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ratings {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  color: rgb(98, 98, 98);
}

.icon {
  display: flex;
  font-size: 11px;
  color: rgb(98, 98, 98);
  padding: 0 3px;
}

.topLeft {
  position: absolute;
  top: 50%;
  left: -20px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.topLeft:hover {
  background-color: black;
  cursor: pointer;
}

.topRight {
  position: absolute;
  top: 50%;
  right: -20px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.topRight:hover {
  background-color: black;
  cursor: pointer;
}

.bottomLeft {
  float: left;
  position: absolute;
  bottom: 14vh;
  font-size: 1.6rem;
  color: white;
  background-color: rgb(195, 193, 193);
  border-radius: 1rem;
}

.bottomLeft:hover {
  background-color: black;
  cursor: pointer;
}

.bottomRight {
  float: right;
  position: absolute;
  bottom: 14vh;
  right: 0vh;
  font-size: 1.6rem;
  color: white;
  background-color: rgb(195, 193, 193);
  border-radius: 1rem;
}

.bottomRight:hover {
  background-color: black;
  cursor: pointer;
}
