.space {
  width: 20px;

  display: inline-block;
  box-sizing: border-box;
}
.Carousel5Wrapper {
  box-sizing: border-box;
  position: relative;
  margin-top: 0px;
  @media screen and (max-width: 900px) {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.SliderWrapper {
  box-sizing: border-box;
  white-space: nowrap;
  position: relative;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  @media screen and (max-width: 900px) {
    padding-left: 10px;
  }
}
.SliderWrapper::-webkit-scrollbar {
  box-sizing: border-box;
  display: none;
}
.Title {
  box-sizing: border-box;
  font-size: 21px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 25px;
  padding-left: 17px;
}

.DivForButton {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 300;
  outline: none;
  pointer-events: none;
}

.Button {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-top: 65px;
  background-color: white;
  border: none;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  @media screen and (max-width: 900px) {
    visibility: hidden;
  }
}

.Hidden {
  visibility: hidden;
}

.ul__prevBtn {
  left: 0px;
  box-shadow: -4px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.ul__nextBtn {
  right: 10px;
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.2);
}
