.SearchHeader {
  margin-top: 100px;
  height: 43px;
}
.SearchMovieTilte {
  width: 1280px;
  margin: auto;
  color: #74747b;
  font-size: 18px;
  font-weight: 700;
}
.SearchMovie {
  width: 70%;
  height: 900px;
  margin: auto;
}

.SearchSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 100px;
  cursor: pointer;
}

.SearchSectionImg {
  width: 250px;
  height: 350px;
}

.SearchSectionImg {
  border-radius: 5px;
}

.SearchSectionName {
  padding-bottom: 5px;
  color: rgb(31, 31, 31);
  font-size: 18px;
  font-weight: 600;
}

.SearchSectioninfo {
  display: flex;
  align-items: center;
  color: rgb(160, 160, 160);
  font-size: 15px;
  font-weight: 400;
}
.dot {
  padding: 5px;
  font-weight: 800;
}

.MovieSectionGenre {
  padding-bottom: 5px;
  color: rgb(160, 160, 160);
  font-size: 15px;
  font-weight: 400;
}

@media (max-width: 1510px) {
  .SearchSection {
    grid-template-columns: 280px 280px 280px 280px;
  }
  .SearchMovie {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .SearchSection {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .SearchMovie {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .SearchSection {
    grid-template-columns: 280px 280px 280px;
  }
}

@media (max-width: 850px) {
  .SearchSection {
    grid-template-columns: 300px 300px;
  }
  .SearchMovie {
    width: 80%;
  }
}
